$red: rgba(255,0,0, 0.9);
$bg: #191919;
$ser :gray;
$rose :pink;
$black: rgba(0,0,0,0.6);
$mainBlack: rgba(0,0,0,0.2);
$mainWhite: white;
$mainFont: 'Neucha', sans-serif, 'Poor Story'

/*
font-family: 'Amatic SC', cursive;  //맘에듬 
font-family: 'Neucha', cursive;  // 괜찮
font-family: 'Noto Sans KR', sans-serif; // 한글 영문 둘다 됨. 단정하게 평타 가능 
font-family: 'Poor Story', cursive; // 한글만 적용. 그냥 적당히 귀엽 
*/