@import "./config/_variables.scss";
@import "./config/reset.scss";

@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/recommendvideo.scss";
@import "./components/shared.scss";

@import "./components/social-login.scss";
@import "./components/videoPlayer.scss";
@import "./components/header.scss";
@import "./components/forms.scss";

// @import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/.edit-profile__password.scss";
@import "./screens/watch.scss";
@import "./screens/home.scss";
@import "./screens/upload.scss";


a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color : $mainWhite;
	color: $mainBlack;
	width: 100vw;
}

main {
	padding: 0% 2%;
	max-width: 100%;
	// width: 100%;
	margin: 0 auto;  //이 건 뭘까?
	margin-top: 50px;
}

@keyframes goAway {
	from {
	  transform: none;
	  opacity: 1;
	}
	to {
	  transform: translateY(-50px);
	  opacity: 0;
	}
  }
  
  .message {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 200px;
	padding: 10px 20px;
	border-radius: 10000px;
	text-align: center;
	animation: goAway 0.5s ease-in-out forwards;
	animation-delay: 1s;
	&.error {
	  background-color: tomato;
	  color: white;
	}
  }
