.edit-profile__form {
    label {
        font-size: 18px;
        display: block;
        margin-bottom : 10px;
        letter-spacing:0.5mm;
    }
    font-size: 20px;
    letter-spacing:0.3mm;

}

.edit-profile__password, .edit-profile__remove {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:10px;
    margin-left: 40%;
    text-align: left;
    font-size: 14px;
    a{
        color: rgba(0,0,0,0.5);
    }
    a:hover{
        color: rgba(0,0,0,0.5);
        text-decoration: underline;
    }
}
.edit-profile__password {
    margin-top: 30px;
}