@media(min-width: 1380px) {
  #watch-video {
    width: 1320px;
  }
  #video-watch-part {
    width: 897px;
  }
  #recommend-video-part {
    width: 400px; 
    min-width: 400px; 
  }
}

@media(max-width: 1379px) and (min-width:976px) {
  #watch-video {
    width: 100%;
  }
  #video-watch-part {
    width: 68%;
  }
  #recommend-video-part {
    // min-width: 400px; 
    width: 32%;
  }
}

@media(max-width: 975px) {
  #watch-video {
    width: 100%;
  }
  #video-watch-part {
    width: 95%;
  }
  #recommend-video-part {
    display:none;
  }
}

#watch-video {
  display:flex;
  justify-content: center;
  color: black;
  padding: 15px;
  #video-watch-part {
    margin-right: 22px;
  }
  #recommend-video-part {
    // border: 1px solid $mainBlack;
    margin-right: 20px;
  }
}

// 여기서 부터 video information (제목, 래시태그, 업로더 등) 
.video-hashtags {
  display: block;
  color: blue;
}
.video-title {
  font-weight: 300;
  font-size: 24px;
  font-weight: 450;
  margin: 10px 0px;
  color: black;
}
.video-description {
  padding: 10px 0px;
  margin: 10px 0px;
  width:100%;
  color: black;
}
.main-info {
  padding: 20px 0px;
  border-bottom: 1px solid $mainBlack;
  width: 100%;
}
.video-controlBox {
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid $mainBlack;
  width: 100%;
  a {
    padding: 3px 10px;
    border-radius: 10px;
    margin: 4px 8px;
  }
}
.video-owner {
  padding: 10px;
  display: flex;
  #video-owner-img-holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
.header__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
small {
  display: block;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 18px;
  color: $rose;
}
}

.video__add-comments {
  width: 100%;
  height: 70px;
  margin: 10px 0px;
  padding-left: 10px;
  display:flex;
  justify-content: flex-start;
  box-sizing: border-box;
  .add-comment-avatar {
    display: flex;
    align-items: center;
  }
    .img-wrapper {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  .video__comment-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(249,249,249);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    position: relative;
    input{
      width: 90%;
      background-color: white;
      color:black;
      border:none;
      border-bottom: 1px solid $mainBlack;
      padding-left: 12px;
      padding-bottom: 3px;
      background-color: rgba(249,249,249);
    }
    input::placeholder {
      color: $mainBlack;
    }
    #cancel-comment__btn {
      background-color: white;
      border: 1px solid $mainBlack;
      left: 5px;
    }
    #add-comment__btn {
      left: 75px;
    }
    #cancel-comment__btn, #add-comment__btn {
      margin-left: 10px;
      padding: 2px 6px;
      padding-top: 4px;
      border-radius: 50px;
      border:none;
      width: 50px;
      position:absolute;
      bottom: 1px;
      font-size: 14px;
      font-family: 'Neucha';
      text-align: center;
    }
  }
}

.video__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    ul{
      width: 100%;
    }
    .video__comment {
      padding: 10px;
      border-radius: 9999px;
      margin-bottom: 10px;
      width: 100%;
      .comment-display {
        display:flex;
        width: 100%;
        .comment-display-avatar {
          display: flex;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        .comment-display-text{
          display:flex;
          flex-direction: column;
          padding: 5px 2px 5px 10px;
          position: relative;
          width: 100%;
          .comment-display-owner {
            font-weight: 500;
            margin-bottom: 7px;
            font-size: 16px;
          }
          .comment-display-content {
            font-size: 14px;
          }
          .comment-display-deleteIcon {
            position: absolute;
            right: 2px;
            top:10px;
            i {
              font-size: 12px;
              color: gray;
            }
          }
        }
      }
    }
    }