#watch-video {
  display:flex;
  justify-content: center;
  color: black;
}
#video-watch-part {
  width: 71%;
  padding-right: 2%;
}
#recommend-video-part {
  max-width: 29%;
  padding-right: 1%;
}

.video-hashtags {
  display: block;
  color: blue;
}
.video-title {
  font-weight: 300;
  font-size: 24px;
  font-weight: 450;
  margin: 10px 0px;
  color: black;
}
.video-description {
  padding: 10px 0px;
  margin: 10px 0px;
  width:100%;
  color: black;
}
.main-info {
  padding: 20px 0px;
  border-bottom: 1px solid $mainBlack;
  width: 100%;
}

.video__add-comments {
  margin: 10px 0px;
  padding-left: 30px;
  display:flex;
  justify-content: flex-start;

.add-comment-avatar{
  display: flex;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
  .video__comment-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    height: 50px;
    // justify-content: flex-start;
    background-color: white;
    input{
      width: 2000px;
      max-width: 100%;
      background-color: white;
      color:black;
      border:none;
      border-bottom: 1px solid $mainBlack;
      padding-bottom: 3px;
    }
    input::placeholder {
      color: $mainBlack;
    }
    button {
      margin-left: 5px;
      padding: 5px 10px;
      border-radius: 50px;
      border:none;
    }
  }
}
.video__comments {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    .video__comment {
      padding: 10px;
      border-radius: 9999px;
      margin-bottom: 10px;
    }
  }

.comment-display {
  display:flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.comment-display-text{
  i {
    margin-right: 5px;
  }
}
.video-owner {
  padding: 10px;
  display: flex;
  #video-owner-img-holder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
.header__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
small {
  display: block;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 18px;
  color: $rose;
}
}

.video-controlBox {
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid $mainBlack;
  width: 100%;
  a {
    padding: 3px 10px;
    border-radius: 10px;
    margin: 4px 8px;
  }
}
