form {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
}
input:not(input[type="range"]) {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    // text-align: center;
    width: 90%;
    border: 1px solid rgba(255,255,255,0.15);
    &::placeholder {
        color: rgba(255,255,255,0.7);
    }
}

input[type="submit"],
.social__btn, #loginBtn {
    padding: 12px 20px;
    background-color: rgba($color: $red, $alpha: 0.9);
    text-align: center;
    cursor: pointer;
    display: block;
    max-width: 420px;
    border-radius: 5px;
    color: white;
}
