form {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
    // background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);

label {
    color: black;
    display: block;
    margin: 5px 0px;
}

input:not(input[type=range]) {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 90%;
    color:black;
    border: 1px solid $mainBlack;
    &::placeholder {
        color: black;
    }
    }
}
.form-file, .form-text, .form-email, .form-password {
background-color: black;
color: black;
}

.form-submit, #loginBtn, #edit-profile-submit, #upload-submit {
    padding: 12px 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    max-width: 420px;
    border-radius: 5px;
    background-color: rgba($color: $red, $alpha: 0.9);
    color: white;
}
