header {
    margin: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgba(0,0,0,0.3);
    .fa-bars {
        margin: 0px 15px 0px 10px;
        font-size: 22px;
        color: $rose;
        width: 2%;
    };
    .header__logo {
        width:10%;
        display: flex;
        align-items: center;
        i {
        font-size: 34px;
        color: $red;
        };
        span {
        font-size: 24px;
        text-align: justify;
        color: black;
        letter-spacing:-0.7mm;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
 
    }
    .search__form {
        display: flex;
        align-items: center;
        position: relative;
        width:100%;
        max-width: 600px;
        height: 14px;
        padding: 12px;
        background-color: transparent;
        border: 1px solid $mainBlack;
        color: black;
        border-radius: 1px;
        .search__form-input {
            all: unset;
            font-size: 18px;
            color: black;
            background-color: white;
            &::placeholder {
                color: $mainBlack;
            }
        }
        .search__form-btn {
            all: unset;
            background-color: rgba(0,0,0,0);
            text-align: center;
            right: 15px;
            position: absolute;
            font-size: 18px;
            cursor: pointer;
            color: black;
        }
    }
    nav {
        width:15%
    }
    ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    li {
        margin-left: 25px;
        font-size: 14px;
        font-weight:600;
        text-transform: uppercase;
        position: relative;
         #userEditBtn,  {
            margin-top: 4px;
        }
        #uploadBtn,#logoutBtn {
            margin-top: 6px;
        }
    }
    i {
        font-size: 20px;
    }
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .hover-message {
        position: absolute;
        top: 40px;
        right: -10px;
        background-color: rgba(0,0,0,0.7);
        width: 60px;
        height: 30px;
        padding: 2px 3px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: white;
            font-size: 10px;
        }
    }
    .no-display {
        display:none;
    }
}
