
header {
    box-sizing: border-box;
    padding: 3px 15px 0px 10px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(0,0,0,0.3);
    .header-left {
        // header의 왼쪽 부분. 디자인 목적으로 사용. 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
    }
    .header__logo {
        // youtube logo와 Dancetube span을 포함한 link(anchor) 
        // width:160px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 24px;
        i {
        color: $red;
        margin-right: 8px;
    
        };
        span {
        color: black;
        font-family: 'Caveat', cursive;
        // margin-bottom: 1px;
        }
    }
    .header-center {
        // header의 가운데 부분. 디자인 목적으로 사용. 
        width: 100%; 
        display: flex;
        justify-content: center;
    }

    @media(max-width:650px) {
        .header-center {
            display:none;
        }
    }

    @media(min-width:651px) {
        #list-search {
            display:none;
        }
    }
    nav {
        // width:220px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        li {
            margin-left: 20px;
            font-size: 20px; //로그 아웃시 나타나는 login, join 폰트 
            position: relative;
            // 아이콘마다 크기가 조금씩 달라서 margin으로 수평 맞춰주기 
            #userEditBtn {
                margin-top: 4px;
            }
            #uploadBtn,#logoutBtn,#searchBtn {
                margin-top: 6px;
            }
            i {
                font-size: 20px;
            }
            .hover-message {
                position: absolute;
                top: 40px;
                right: -10px;
                background-color: $red;
                width: 63px;
                height: 32px;
                padding: 3px 3px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    color: white;
                    font-size: 14px;
                }
            }
        }
        
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .no-display {
        display:none;
    }

// hearder 종료 
}




