header {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header__logo {
        color: $rose;
        font-size: 52px;
        width:33%
    }
    h1 {
        font-size: 32px;
        width:33%;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif
    }
    nav {
        width:33%
    }
    ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    li {
        margin-left: 25px;
        font-size: 14px;
        font-weight:600;
        text-transform: uppercase;
    }
    i {
        font-size: 16px;
    }
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .header__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}