.empty__message {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
} 
.video-grid { 
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(4, minmax(0,1fr));
}
.auth-switch{
    text-align: center;
    margin-top: 40px;
    a{
        text-decoration: underline;
    }
}
.no-display{
    display:none;
}

@keyframes errorjumping  {  
	0% {
		transform:translateY(0px) ; 
	}
    50% {
        transform:translateY(-5px) ; 
    }
	to {
		transform:translateY(0px) ; 
        
	}
}

.error-message {
    text-decoration: underline;
    padding: 4px 5px;
    border-radius: 20px;
    color: $red;
    font-size: 20px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
    animation: errorjumping 1.5s ease-out infinite ;

}