.social__login{
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 30px;
    padding-top: 40px;
    .social__btn--github {
        background-color: #24883b;
    }
    .social__btn--kakao {
        background-color: #FEE500;
        color: black;
    }
    .social__btn {
        margin-bottom: 5px;;
    }
}