#videoContainer {
    // videoContainer 하에는 video와 컨트롤러들을 모두 포함한 videoControlers 가 존재 
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
}
#videoScreen {
    // 영상이 플레이 되는 화면 
    background-color: black;
    max-height: 70vh; 
}
#videoFullScreen {
    // 전체 화면 모드일 때는 max-height 가 적용되지 않도록 크기 제한 없는 id값을 부여 
    width: 100%;
    height: 100%;
}
#videoControlers{
    // 타임라인, 재생, 볼륨, 현재 재생시간, 총 재생 시간, 전체화면 버튼을 모두 포함하는 div 
    display: flex;
    flex-direction:column;
    justify-content: center;
    // 📌📌📌📌 가능하면 아래 bg color에 linear-gradient도 공부해서 써 보자 !!!! 
    background: linear-gradient(rgba(255,255,255,0.01),rgba(0,0,0,0.3));// 영상이 흰색이어도 컨트롤러들이 잘 보일 수 있게 하려면 배경색이 연하게라도 존재해야 함 
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 15px 10px 20px 10px;
    color: white;
    button {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 24px;
    }
    span {
        font-size: 18px;
    }
}
#timeline, #volume  {
    // range 로 조절되는 타임라인 및 볼륨 controler들이 공통으로 가질 속성들 
    -webkit-appearance: none;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
}
#timeline {
    width: 100%;
    margin-bottom: 13px;
}
input[type=range]::-webkit-slider-thumb {
    // range를 조절하는 동그란 조절키
    -webkit-appearance: none; // 디폴트 디자인 (파란색)을 없애줌
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: rgb(255, 255, 255 );
    transition: background .3s ease-in-out;
}
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
#controlers {
    // 타임라인을 제외한 나머지 btn들. 배치를 위해 fullscreen btn을 가진 controlersRight와 나머지 버튼을 가진 left 로 div 두 개를 가지고 있음. 
    display: flex;
    justify-content: space-between;
}
#controlersLeft {
    display: flex;
    align-items: center;
    #play {
        margin-left: 10px;
    }
    #mute,  #volume, #currentTime {
        margin-left: 15px;
    }
    #volume{
        width: 50px;
    }
}

