extends base.pug

block content   
    form(method="POST")
        input(placeholder="username", name="username", type="text", required).form-submit
        input(placeholder="password", name="password", type="password", required).form-password
        input(placeholder="submit", type="submit" value="Login")#loginBtn.form-submit
        include partials/social-login
        if (errorMessage)
            small=errorMessage
    div.auth-switch
        span Don't have an account? 
        a(href="/join") Join now &rarr; 
            
