extends base.pug

block content  
    div
        form(method="POST")
            input(placeholder="USERNAME", name="username", type="text", required).form-submit
            input(placeholder="PASSWORD", name="password", type="password", required).form-password
            input(placeholder="submit", type="submit" value="Login")#loginBtn.form-submit
            include partials/social-login
        div.auth-switch
            span Don't have an account? 
            a(href="/join") Join now &rarr; 
                
