header 
    i.fa-solid.fa-bars
    a(href="/").header__logo
        i.fab.fa-youtube
        span YouTube
    form(method="GET" action="search").search__form
        input(type="text", placeholder="Search by title", name="keyword").search__form-input#search-input
        button.search__form-btn
            i.fas.fa-search
    nav 
        ul 
            li
            if (loggedIn)
                li
                    a(href="/videos/upload") 
                        i.fa-solid.fa-video#uploadBtn
                    div.no-display.hover-message#hover-message-upload
                        span Upload Video
                li 	
                    a(href="/users/edit")
                        i.fa-solid.fa-user-pen#userEditBtn
                    div.no-display.hover-message#hover-message-edit
                        span Edit Your Profile
                li
                    a(href="/users/logOut")
                        i.fa-solid.fa-right-from-bracket#logoutBtn
                    div.no-display.hover-message#hover-message-logout
                        span Logout
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if (loggedInUser.avatarUrl === "")
                            span 🙂
                        else 
                            div.img-wrapper
                                img(src=loggedInUser.avatarUrl).header__avatar
            else 
                li
                    a(href="/login") Login
                li
                    a(href="/join").header__btn Join 
        

        