div.social__login
    a(href="/users/kakao/start").social__btn.social__btn--kakao.form-submit
        i.fa-solid.fa-comment
        |  Continue with Kakao &rarr;  <!-- pug에서 html 옆에 text를 쓰려면  | 를 사용해서 태그와 텍스트를 구분할 수 있다! -->
    a(href="/users/github/start").social__btn.social__btn--github.form-submit
        i.fab.fa-github  
        |  Continue with Github &rarr;  <!-- pug에서 html 옆에 text를 쓰려면  | 를 사용해서 태그와 텍스트를 구분할 수 있다! -->
